/* General */

body {
    position: relative;
    background-color: rgb(247, 247, 247);
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    padding: 20px;
}

/* main */

.grid-container {
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px 50px;
}

.card {
    display: grid;
    grid-template-columns: 35% 65%;
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: white;
    color: rgb(112, 112, 112);
}

.card:hover {
    cursor: pointer;
    color: rgb(58, 58, 58);
    border: 2px solid rgb(146, 146, 146);

}


img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 600;
    margin: 0 0 50px 20px;
}

.search {
    border: 2px solid lightgray;
    border-radius: 6px;
    height: 40px;
    width: 400px;
    font-size: 1.4rem;
    color: rgb(112, 112, 112);
}

.search:hover {
    color: rgb(58, 58, 58);
    border: 2px solid rgb(146, 146, 146);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

h2,
p {
    margin: 2px;
    
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

/* Overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4); 
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    text-align: center;
    position: relative;
    background: white;
    border-radius: 6px;
    padding: 30px 30px;
}

.modal::before {
    content: '<';
    font-weight: 700;
    font-size: 2.5rem;
    position: absolute;
    left: 10px;
    bottom: 50%;
    color: rgb(58, 58, 58);
}

.modal::after {
    content: '>';
    font-weight: 700;
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    bottom: 50%;
    color: rgb(58, 58, 58);
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(58, 58, 58);
}

.hidden {
    display: none;
}







@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

    

}