body {
    position: relative;
    background-color: rgb(247, 247, 247);
    font-family: 'Titillium Web', sans-serif;
    padding: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4); 
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    text-align: center;
    position: relative;
    background: white;
    border-radius: 6px;
    padding: 30px 30px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25px 30px;
}

.card {
    display: grid;
    grid-template-columns: 35% 65%;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: white;
}

img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 20px;
}

h1 {
    font-weight: 600;
    margin: 0 0 20px 20px;
}

.text-container {
    text
}